/* 
    Created on : Feb 4, 2011, 4:20:21 PM
    Author     : ccoglianese
*/

root { 
    display: block;
}

input[type="text"], input[type="password"], select {
    margin: 0;
}

table {
    border-spacing: 0;
}

input, select, option, textarea {
    font-size: inherit;
    font-family: inherit;
}

html {
    overflow-y: scroll;
    font-size: 13px;
    font-family: Tahoma,"Lucida Grande",Sindbad,Kalimati,Verdana,Arial,sans-serif;
}

body {
    background-color: lightgray;
    margin: 0;
    line-height: normal; /*1.24 + or -*/
/*    margin-top: 10px;*/
}

#content {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#mainbody {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 350px;
}

.sub-content {
    width: 790px;
}

.topnav {
    border-bottom: 1px dotted lightgray;
    border-top: 1px dotted lightgray;
    font-weight: bold;
    line-height: 30px;
    padding-left: 0;
    margin: 1em 0;
}

.topnav li {
    display: inline;
    margin-right: 15px;
}

.radiolist {
    margin: 0px;
    padding-left: 0;
    line-height: 16px;
}

.radiolist li {
    display: inline;
    margin-right: 5px;
}

.bottomnav {
    font-weight: bold;
    line-height: 48px;
    vertical-align: top;
    float: left;
}

#footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 65px;
    margin-bottom: 40px;
    padding-top: 40px
}

#header {
    padding-left: 30px;
    padding-right: 30px;
}

.label {
    text-align: left;
}

a, #a {
    text-decoration: none;
    font-weight: bold;
    color: #D91F2C;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

td, th {
    vertical-align: middle;
    padding: 1px;
}

th {
    font-weight: bold;
}

p {
    display: block;
    margin: 1em 0;
}

strong {
    font-weight: bold;
}

img {
    border: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
}

.form_error {
    font-size: 11px;
    text-align: left;
}

.form_hint {
    font-size: 11px;
    text-align: left;
    color: gray;
}

.field-hint-right {
    font-size: 11px;
    text-align: left;
    color: gray;
    padding-left: 6px;
}

.field-hint-below {
    font-size: 11px;
    text-align: left;
    color: gray;
}

img.form {
    vertical-align: middle;
    margin-right: 2px;
}

.form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

a.edit {
    font-size: 11px;
    font-weight: bold;
}

table.student_group_members th, td {
    text-align: left;
    padding: 3px;
}

.property_info td {
    padding-right: 10px;
}

.logout {
    font-weight: bold;
    text-align: right;
    float: right;
    margin-top: 25px;
}

.header_image {
    margin-top: 5px;
}

.footer_img {
    float: right;
}

tr.evenrow {
/*    border: solid thin black;*/
    background: lightgray;
}

table.demerit_table {
    border-collapse: collapse;
}

table.demerit_table tbody {
    border: solid thin black;
}

table.demerit_table thead {
    border: solid thin black;
}

table.demerit_table td {
    padding: 6px;
}

table.demerit_table th {
    padding: 6px;
    border-bottom: solid thin black;
    background: #ededed;
}

tr.dashboard th {
    vertical-align: bottom;
}

tr.dashboard td, tr.dashboard th {
    text-align: center;
    border: solid thin black;
}

tr.totals-row td {
    border-top: double medium black;
}

.form-table td {
    padding: 6px;
}

td.form-label-textarea {
    vertical-align: top;
}

td.form-label-has-hint-below {
    vertical-align: top;
    padding: 8px 6px 6px 6px;
}

table.inner-form-table td {
    padding: 0px;
}

table.inner-form-table td.inner-form-status-box {
    padding: 0 0 0 6px;
    vertical-align: top;
}

table.inner-form-table td.inner-form-status-box-textarea {
    padding: 6px 0 0 6px;
    vertical-align: top;
}

.form-table tfoot td {
    text-align: center;
    padding-top: 15px;
}

table.view_table {
    width: 100%;
}

table.view_table td, table.view_table th {
    border: solid thin black;
}

div.scrollframe {
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
    max-height: 300px;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-info-background {
    background: #D8E4F1;
    border: solid thin #69C;
}

div.status-small {
    float: left; /* minimum width necessary */
}

div.status-banner {
    margin-bottom: 6px;
}

p.status-small {
    margin: .3em 0; /* smaller height than the average p */
}

.icon-button {
    margin: 2px;
    padding: 4px;
    cursor: pointer;
}

.icon-button-small {
    margin: 0;
    padding: 0;
}

div.ui-datepicker {
/*    font-size: 87.5%;*/
    font-size: inherit;
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

div.ui-buttonset {
    font-size: 11px;
}

.ui-datepicker-trigger {
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 5px;
    vertical-align: middle;
}

/*.ui-datepicker-append {
    font-size: 11px;
    text-align: left;
    color: gray;
}*/

input.hasDatepicker {
    background: url('/img/calendar_16.png') no-repeat 96.5% 50% white;
    width: 14ex;
}

input.time-value {
    width: 14ex;
}

table.tablesorter th {
    cursor: pointer;
    padding-bottom: 12px;
}

table.tablesorter .headerSortUp {
    background: url(images/down.png) no-repeat bottom right;
}

table.tablesorter .headerSortDown {
    background: url(images/up.png) no-repeat bottom right;
}

div.slips {
    border: dotted red;
    padding: .5em; /* 6px; */
    margin-bottom: 1em;
    font-size: larger;
}

th.table-actions {
    width: 60px;
}

th.table-actions-three {
    width: 90px;
}

tr.deactivated td {
    text-decoration: line-through;
    color: gray;
}